@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/swiper/swiper.min";
@import "swiper/css/effect-fade";
@import "swiper/css/pagination";

@import "lightgallery/css/lightgallery";
@import "lightgallery/css/lg-zoom";
@import "lightgallery/css/lg-thumbnail";

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-display: swap;
    font-family: "Roboto";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-left: 140px;
  padding-right: 140px;
}

.input:focus-within {
  color: #009ee4;
}

.input {
  color: #c4c4c4;
}

.lg-react-element {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-track {
  background-color: #fff; /*Цвет скролла*/
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; /*Закругление ползунка*/
  background-color: #d9d9d9; /*Цвет ползунка*/
}
::-webkit-scrollbar {
  position: absolute;
  left: 0;
  width: 6px; /*Толщина скролла*/
  height: 6px;
}

.item {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.swiper-wrapper {
  height: 100%;
}
